{:paths ["src"]
 :deps  {org.clojure/clojure            {:mvn/version "1.11.1"}
         medley/medley                  {:mvn/version "1.4.0"}
         org.clojure/data.json          {:mvn/version "2.4.0"}
         org.apache.kafka/kafka-clients {:mvn/version "2.8.0"}}}
